# Lists

We've already seen the **`range()`** function, which iterates through a set of numbers with a fixed pattern. What if your numbers follow an irregular pattern? What if we want to iterate over something other than numbers?

Python has multiple ways to iterate over a collection of items.
- Lists
- Tuples
- Dictionaries
- Sets

This notebook will go over **`lists`**. We will discuss the others in later weeks.

### Declaring a list

If you know your items in advance, you can declare a list as follows:

In [1]:
list_a = [1,2,3,5,7,1,2]
print(list_a)

[1, 2, 3, 5, 7, 1, 2]

Note that lists can repeat elements.

Like strings, lists have a length, given by **`len()`**.

In [3]:
print(len(list_a))

7

You can declare an empty list with no items; The empty list has length of 0.

In [4]:
list_b = []
print(list_b)
print(len(list_b))

[]
0

You can create an empty list of a fixed length as follows:

In [5]:
list_b = [None]*8
print(list_b)

[None, None, None, None, None, None, None, None]

In [8]:
list_True = [True]*8
print(list_True)

item_True = True*8
print(item_True)

[True, True, True, True, True, True, True, True]
8

In [7]:
w = "word"
print(w*8)

wordwordwordwordwordwordwordword

Lists do not have to only contain numbers - they can have items of any type, mixed together, including other lists.

In [2]:
list_c = [1, True, "three", list_a]
print(list_c)

[1, True, 'three', [1, 2, 3, 5, 7, 1, 2]]

### Accessing items in a list

Just like strings, we can access items in a list using slices.

In [11]:
print( list_c[1:3])
print( list_c[-1:1:-1])

[True, 'three']
[[1, 2, 3, 5, 7, 1, 2], 'three']

In [18]:
w = "word"

def reverse(x):
    return x[-1: :-1]

def reverse_print(x):
    print(x[-1: :-1])

for letter in w:
    print(letter)

w
o
r
d

### Iterating through a list

In [19]:
for item in list_a:
    print(item+3)

4
5
6
8
10
4
5

In [20]:
for index, letter in enumerate(w):
    print(index, ": ", letter)

0 :  w
1 :  o
2 :  r
3 :  d

In [21]:
for index, item in enumerate(list_c):
    print(index, ': ', item)

0 :  1
1 :  True
2 :  three
3 :  [1, 2, 3, 5, 7, 1, 2]

We can also unroll lists with the unrolling operator **`*`**:

In [9]:
print(list_c)
print(list_c[0], list_c[1], list_c[2], list_c[3])

[1, True, 'three', [1, 2, 3, 5, 7, 1, 2]]
1 True three [1, 2, 3, 5, 7, 1, 2]

In [22]:
print(list_c)
print(*list_c)

[1, True, 'three', [1, 2, 3, 5, 7, 1, 2]]
1 True three [1, 2, 3, 5, 7, 1, 2]

In [24]:
def silly_function(a,b,c):
    return a + 2*b + 3*c

print(silly_function(1,2,3))

l = [1,2,3]
print(silly_function(*l))

14
14

### Editing items in a list

If we have a list, but want to change some items, we can directly assign new values using the **`[]`** operator.

In [25]:
print(list_c)
list_c[2] = list_c[2]*2
print(list_c)

[1, True, 'three', [1, 2, 3, 5, 7, 1, 2]]
[1, True, 'threethree', [1, 2, 3, 5, 7, 1, 2]]

In [26]:
y = list_c[2]
yy = y*2
list_c[2] = yy

print(list_c)

[1, True, 'threethreethreethree', [1, 2, 3, 5, 7, 1, 2]]

Sometimes you want to perform some operation (or run a function) on each item in a list.

In [27]:
def str_duplicate(s):
    return s*2

In [29]:
for letter in w:
    print(str_duplicate(letter))

ww
oo
rr
dd

In [30]:
list_of_words         = ["one", "small", "step", "for", "man"]

If we have a list, we can map through the list and perform an action on each element. For each element, we could just return the same element:

In [31]:
list_of_words_again   = [s for s in list_of_words]

print('original ', list_of_words)
print('duplicate', list_of_words_again)

original  ['one', 'small', 'step', 'for', 'man']
duplicate ['one', 'small', 'step', 'for', 'man']

Or, we could map a function onto each element:

In [32]:
list_of_words_doubled = [str_duplicate(s) for s in list_of_words]

print(list_of_words)
print(list_of_words_doubled)

['one', 'small', 'step', 'for', 'man']
['oneone', 'smallsmall', 'stepstep', 'forfor', 'manman']

In [37]:
# get_first_letter= lambda s : s[0]

list_of_first_letters = [ s[0] for s in list_of_words]
list_of_second_letters = [ s[1] for s in list_of_words ]
list_of_last_two_letters = [ s[-2:] for s in list_of_words ]

print(list_of_first_letters)
print(list_of_last_two_letters)

['o', 's', 's', 'f', 'm']
['ne', 'll', 'ep', 'or', 'an']

Sometimes you want to iterate through more than one list at the same time. If we know how many items are in the list, we can **`range`** over the length of the list and create pairs on our own.

In [38]:
items = ["apples", "bananas", "carrots", "doughnuts", "eggs"]
cost = [0.40, 0.35, 1.12, 1.00, 0.59]

In [39]:
store1 = [None]*len(items)
for j in range(len(store1)):
    print(store1[j])

None
None
None
None
None

In [44]:
store2 = [None]*len(items)
for i in range(len(items)):
    store2[i] = (items[i], cost[i])
    
print(store2)
print(type(store2))

[('apples', 0.4), ('bananas', 0.35), ('carrots', 1.12), ('doughnuts', 1.0), ('eggs', 0.59)]
<class 'list'>


An easier way to do so is via the **`zip()`** function. The **`zip()`** function returns a **`tuple`** of items paired together.

In [42]:
inventory = zip(items, cost)

print(inventory)
print(type(inventory))

<zip object at 0x7f0c982fee88>
<class 'zip'>

In [43]:
for i in inventory:
    print(i)

('apples', 0.4)
('bananas', 0.35)
('carrots', 1.12)
('doughnuts', 1.0)
('eggs', 0.59)

### Appending items to a list

In [45]:
items.append('fish')
cost.append(3.25)

In [46]:
for pair in zip(items, cost):
    print(pair[0], '    \t:  ', pair[1])

apples     	:   0.4
bananas     	:   0.35
carrots     	:   1.12
doughnuts     	:   1.0
eggs     	:   0.59
fish     	:   3.25

### Inserting items into a list

In [47]:
items.insert(2,'blueberries')
print(items)

['apples', 'bananas', 'blueberries', 'carrots', 'doughnuts', 'eggs', 'fish']

In [49]:
items.insert(-3, 'zucchini')
print(items)
items.insert(-0, 'end')
print(items)

['apples', 'bananas', 'blueberries', 'carrots', 'zucchini', 'zucchini', 'doughnuts', 'eggs', 'fish']
['end', 'apples', 'bananas', 'blueberries', 'carrots', 'zucchini', 'zucchini', 'doughnuts', 'eggs', 'fish']

### Deleting items from a list

If you want to remove an element, but don't know where the entry is within the list, use the **`remove()`** function.

In [52]:
items.remove('zucchini')
items.remove('end')

In [53]:
print(items)

['end', 'apples', 'bananas', 'blueberries', 'carrots', 'doughnuts', 'eggs', 'fish']

Note, you cannot remove an element that is not there.

In [55]:
items.remove('zucchini') # again

If you do know the element's location in the list, use the **`pop()`** fuction. This function **`returns`** the removed item.

In [56]:
i1 = items.pop(1)

In [57]:
print(items)
print(i1)

['apples', 'blueberries', 'carrots', 'doughnuts', 'eggs', 'fish']
bananas

## Lists of Lists

Since lists do not have a type, you can make lists of lists.

In [58]:
dry_goods = ['oil', 'vinegar', 'flour', 'cereal', 'pretzels']
chocolate_bars = ['Hersheys', 'M&Ms', 'Ghirardelli']
household = ['tissues', 'paper towels', 'soap']

In [59]:
aisle = [None]*3

aisle[0] = items
aisle[1] = [dry_goods, chocolate_bars]
aisle[2] = household

In [60]:
for i,a in enumerate(aisle):
    print("Aisle ", i, " :\t", a)

Aisle  0  :	 ['apples', 'blueberries', 'carrots', 'doughnuts', 'eggs', 'fish']
Aisle  1  :	 [['oil', 'vinegar', 'flour', 'cereal', 'pretzels'], ['Hersheys', 'M&Ms', 'Ghirardelli']]
Aisle  2  :	 ['tissues', 'paper towels', 'soap']

To access items in a list that's in a list, you need to use the **`[]`** brackets for each list.

In [63]:
for a in aisle:
    for b in a:
        print(b)
    print('\n')
    
print(aisle[1])
print(aisle[1][1])
print(aisle[1][1][2])

apples
blueberries
carrots
doughnuts
eggs
fish


['oil', 'vinegar', 'flour', 'cereal', 'pretzels']
['Hersheys', 'M&Ms', 'Ghirardelli']


tissues
paper towels
soap


[['oil', 'vinegar', 'flour', 'cereal', 'pretzels'], ['Hersheys', 'M&Ms', 'Ghirardelli']]
['Hersheys', 'M&Ms', 'Ghirardelli']
Ghirardelli

## Conditionals and Lists

You can combine conditional statements and lists when performing operations on each elements. This can be used in a way similar to **`filter()`**.

In [64]:
print(store2)

[('apples', 0.4), ('bananas', 0.35), ('carrots', 1.12), ('doughnuts', 1.0), ('eggs', 0.59)]

In [65]:
cheap_store = [pair for pair in store2 if pair[1] < 0.5]
print(cheap_store)

[('apples', 0.4), ('bananas', 0.35)]

In [66]:
cheap_items = [pair[0] for pair in store2 if pair[1] < 0.5]
print(cheap_items)

['apples', 'bananas']

In [69]:
plural_items = [item for item in aisle[0] if item[-1]=='s']
print(plural_items)

['apples', 'blueberries', 'carrots', 'doughnuts', 'eggs']

In [71]:
vowels = ['a','e','i','o','u']
word = "favorite"
non_vowels = [ letter for letter in word if letter in vowels ]
print(non_vowels)

['a', 'o', 'i', 'e']